.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 2px;
}

.head-items>ul{
    display: flex;
    
}
.logo>img{
    width: 100px;
    /* height: 10px; */
}
.head-items>ul>li{
    padding: 10px;
    list-style: none;
    margin: 10px;
    font-size: 24px;
}

.rest-img>img{
    width: 200px;
}

.rest-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    flex-wrap: wrap;


}

.rest-card:hover{
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.res-container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:center; */
}

.rest-info>h4{
    display: flex;
   

}
.rest-card{
    background-color:rgb(235, 233, 233)
}
.filter{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.search{
    padding: 10px;
}